{% extends "main.html" %}
{% block content %}
<div id='photo-submissions-wrap' class='wrap'>
    <h1>Photo Submission Guidelines</h1>
    <div id='photo-submission-content' class='wrap'
        <p>We welcome the submission of digital photographs of Oregon lakes for posting on the Atlas of Oregon Lakes. In general, the photos will be more informative if they contain some foreground detail in addition to the lake itself. Photos depicting aspects such as water quality, shoreline and water vegetation, user facilities, and control structures such as dams would be particularly appreciated. Photos that show persons who could be identified from the photo will not be published.
</p>
        </br><p>The information that we would like to have for each photo includes:</p>
        <ul class='wrap'>
            <li>Name of the lake</li>
            <li>County of location for the photo</li>
            <li>Date of photo (dd/mm/yyyy)</li>
            <li>View direction for the photo (e.g. “from the shore looking east”)</li>
            <li>Suggested caption for the photo (e.g. “emergent vegetation along the shoreline”)</li>
            <li>Name of contributor (e.g. Melville, Herman)</li>
            <li>Mailing address of contributor</li>
            <li>E-mail address for contributor</li>
        <ul>
        <p>Please, submit your photos to <a href="mailto:OregonLakesAtlas@pdx.edu">OregonLakesAtlas@pdx.edu</a></p>
    </div>
</div>
{% endblock %} 
