{% extends "main.html" %}
{% block content %}
<aside>
    <h4>Assets</h4>
    <h5>Photos</h5>
    <a href="{% url 'admin-add-photo' lake_id=lake.pk %}">Add</a>
    {% if photos %}
        <ul>
            {% for photo in photos %}
                <li><a href="{% url 'admin-edit-photo' photo_id=photo.pk %}">{{ photo.pk }} - {{ photo.caption }}</a></li>
            {% endfor %} 
        </ul>
    {% endif %}
</aside>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" value="submit" />
</form>

{% endblock %}
