<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Atlas of Oregon Lakes</title>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.10.2.min.js"></script>
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
        <!-- This css file is to show line number in textarea used in add_plant.html -->
        <link href="{{ STATIC_URL }}/js/jquery-linedtextarea/jquery-linedtextarea.css" type="text/css" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/aol_favicon.png"/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
