{% block header %}
<div id='header-wrap' class='max'>
	<div id='header' class='span12 block'>
		<div id='branding' class='block left span8' >
			<div id='logo-wrap' class='block span2 left' >
				<img id='logo' src='{{ STATIC_URL }}img/aol_logo.png' ></img>
			</div>
			<div id='site-title' class='block span9 left' >
				<a href='/'>Atlas of Oregon Lakes</a>
			</div>	
			<div id='navigation' class='block'>
				{% block navigation %}{% include 'navigation.html'%}{% endblock %}
			</div>
		</div>
		<div id='search-container' class='span4 block right'>
			<input type='text'></input>
			<input type='submit' value='Lake Search'></input>
		</div>
	</div>	
</div>
{% endblock %}
