{% block header %}
<div id='header-wrap'>
	<div id='header' class='span10 block'>
		<div class='block left span6' id='branding'>
			<div class='block span2 left' id='logo-wrap'>
				<img id=logo' src='{{ STATIC_URL }}img/aol_logo.png' ></img>
			</div>
			<div class='block span10 left' id='site-title'>
				<a href='/'>Atlas of Oregon Lakes</a>
			</div>	
			<div id='navigation'>
				{% block navigation %}{% include 'navigation.html'%}{% endblock %}
			</div>
		</div>
		<div id='search-container' class='span6 block'>
			<input type='text'></input>
			<input type='submit' value='Lake Search'></input>
		</div>
	</div>	
</div>
{% endblock %}
